extends layout

block content
    h1= title
    h2= title
    p Hello #{user.name} , Welcome to #{title} .
    div.label-success You can park at #{title} now!
    p.
      一年半前，曾离过两次婚的萨拉在网上遇到了自称叫克里斯·
        奥尔森的男子。尽管这名神秘男子的口音总是变化无常，而且声称经常流转各国并不断要求萨拉给他汇钱，
        但萨拉仍坚称，她有95%的把握奥尔森说的都是实话。.
    a(href='www.qq.com') QQ
    br
    input.input-append(value = user.email)
    br
    label. Username: input(name='user[name]')
        pig pig
    .small abc abc
    div.content.
        <span style="font-family:SimSun;font-size:14px;"><div class="wrap">
            <div class="header">
              <div class="navbar navbar-inverse navbar-swapper">
                <div class="navbar-inner">
                  <div class="container">
                    <a class="brand" href="#">JThink</a>
                    <ul class="menu nav pull-right">
                      <li><a href="#/login">login</a></li>
                      <li><a href="#/register">register</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="content" class="content container" ng-view></div>
            </div>
          </div>

          <div class="footer">
            <div class="container">
              <p>
                version1.0
              </p>
            </div>
          </div></span>
    label This line means the end !

block extendJs


